* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  display: block;
  margin: auto;
  min-height: 100vh;
  background-color: #1b1b1b;
  font-family: "roboto";
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background-color: #222222;
  font-family: roboto, sans-serif;
}

.link-group {
  list-style: none;
  display: flex;
}

.link a {
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  transition: 0.5s;
  font-size: 20px;
}

.link a:hover,
.link.active a {
  opacity: 1;
  color: #3cff00;
  font-weight: bold;
}

/* home */

.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active {
  position: relative;
  opacity: 1;
  z-index: 8;
}

.home-section {
  width: 100%;
  height: 100vh;
  padding: 0 150px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.animate-character {
  background-image: linear-gradient(
    -225deg,
    #3cff00 5%,
    #eeff00 29%,
    #00f7ff 67%,
    #3a9e00 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.hero-heading {
  color: #fff;
  font-size: 100px;
  text-transform: capitalize;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.subtitulo {
  color: #3cff00;
  font-size: 55px;
  font-weight: 300;
  font-family: "Caveat", cursive;
}

.home-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;

  object-fit: cover;
  opacity: 0.2;
}

.project-section {
  width: 100%;
  min-height: 100vh;
  padding: 150px 100px 100px;
  position: fixed;
  top: 0;
  transition: 1s;
  opacity: 0;
}

.project-heading {
  font-size: 90px;
  background: #2c2c2c;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
  font-family: "Montserrat", sans-serif;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.project-card {
  height: 400px;
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 5px;
}

.project-content {
  position: relative;
  padding: 40px;
  color: #fff;
  transition: 0.5s;
  opacity: 0;
}

.project-title {
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}

.project-info {
  margin: 40px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.project-btn-grp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project-btn a {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 180px;
  padding-left: 180px;
}

.project-btn {
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.project-btn.live {
  background: none;
  border: 3px solid #3cff00;
  color: #fff;
}

.project-btn.live.disabled {
  background: none;
  border: 3px solid #5e5e5e;
  color: #5e5e5e;
  cursor: default;
}

.project-card:hover {
  border: 1px solid #3cff00;
}

.project-card:hover .project-img {
  filter: blur(20px) opacity(30%);
}

.project-card:hover .project-content {
  opacity: 1;
}

.project-btn:hover {
  color: #3cff00;
}

/* Sobre */

.about-section {
  width: 100%;
  min-height: 100vh;
  padding: 150px 100px 0;
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 65%;
  gap: 40px;
}

.about-img-container {
  position: relative;
}

.about-info {
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
  line-height: 40px;
}

.sobre h1 {
  line-height: 80px;
  font-size: 30px;
  color: #3cff00;
}

.sobre {
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.about-img {
  object-fit: cover;
  border-radius: 20px;
}

.download-cv-btn {
  position: relative;
  bottom: 50px;
  left: 40%;
  transform: translate(-50%);
  padding: 10px 20px;
  color: #3cff00;
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
}

.download-cv-btn:hover {
  background: #000;
}

.skill-section {
  position: relative;
  margin: 100px 0;
}

.heading {
  text-align: center;
  font-size: 70px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.skills-container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  color: #fff;
}

.skill-card {
  position: relative;
}

.skill-img {
  display: block;
  margin: auto;
  height: 200px;
}

.skill-name {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  margin: 30px 0 20px;
}

.skill-info {
  text-align: center;
  opacity: 0.5;
  font-size: 20px;
  line-height: 30px;
}

/* Timeline */

.timeline {
  display: block;
  width: 80%;
  margin: 150px auto;
}

.timeline .heading {
  margin-bottom: 150px;
}

.card {
  width: 45%;
  padding: 40px;
  border-radius: 10px;
  color: #fff;
  display: block;
  margin: -80 0;
  position: relative;
  background-color: red;
  font-size: 20px;
}

.card:nth-child(even) {
  margin-left: auto;
}

.card:nth-child(even):before {
  content: "";
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #3cff00;
  border-radius: 50%;
}

.card:nth-child(even):after {
  content: "";
  position: absolute;
  left: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
}

.card:nth-child(odd):before {
  content: "";
  position: absolute;
  right: -13%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #3cff00;
  border-radius: 50%;
}

.card:nth-child(odd):after {
  content: "";
  position: absolute;
  right: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: #fff;
}

.card:nth-child(2),
.card:nth-child(2):before {
  background: #2c2c2c;
}
.card:nth-child(3),
.card:nth-child(3):before {
  background: #2c2c2c;
}
.card:nth-child(4),
.card:nth-child(4):before {
  background: #2c2c2c;
}
.card:nth-child(5),
.card:nth-child(5):before {
  background: #2c2c2c;
}

.card:nth-child(6),
.card:nth-child(6):before {
  background: #000000;
}

.card-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #3cff00;
}

.ponto {
  color: #3cff00;
}

/* contato */
.contact-section {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 1s;
  padding: 100px 150px;
  height: 100vh;
  display: grid;
  gap: 50px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#allContent {
  max-width: 800px;
  margin: 0 auto;
}

#mainContent {
  float: left;
  vertical-align: top;
  color: #fff;
  padding: 1.5em;
}

#secondaryContacts {
  float: right;
  vertical-align: top;
  background: #2c2c2c;
  padding: 1.5em;
  margin-top: 6em;
  border-radius: 12px;
  border: 6px solid #3cff00;
}

.titulo-contato {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 30px;
  align-items: center;
}

.titulo1 {
  font-size: 100px;
}

.subtitulo1 {
}

.primaryHeading {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.secondaryHeading {
  font-weight: bold;
  font-size: 1.75em;
  margin-bottom: 0.5em;
}

.subHeading {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 0.25em;
}

.inputLabel {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

.inputField {
  border: 3px solid #3cff00;
  border-radius: 6px;
  font-size: 2em;
  background: #2c2c2c;
  margin-bottom: 1em;
  width: 100%;
}

textarea {
  resize: none;
}

#buttonCtr {
  float: right;
}

#buttonCtr :hover {
  color: #3cff00;
}

#buttonCtr button {
  font-size: 1.5em;
  padding: 0.5em;
  background: #2e2e2e;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.telephone:hover {
  color: #fff;
}

.social :hover {
  color: #fff;
}

button[type="reset"] {
  margin-right: 0.25em;
}

.social p {
  margin-top: 10px;
}

.whatsapp {
  display: block;
  background: url(img/whatsapp-svgrepo-com.svg) top left no-repeat;
  background-size: 25px 25px;
  padding-left: 30px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  text-decoration: none;
  color: #3cff00;
  margin-bottom: 0.25em;
  margin-left: 1em;
}

.github {
  display: block;
  background: url(img/github-svgrepo-com.svg) top left no-repeat;
  background-size: 25px 25px;
  padding-left: 30px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  text-decoration: none;
  color: #3cff00;
  margin-bottom: 0.25em;
  margin-left: 1em;
}

.linkedin {
  display: block;
  background: url(img/linkedin-svgrepo-com.svg) top left no-repeat;
  background-size: 25px 25px;
  padding-left: 30px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  text-decoration: none;
  color: #3cff00;
  margin-left: 1em;
}

.instagram {
  display: block;
  background: url(img/instagram-svgrepo-com.svg) top left no-repeat;
  background-size: 25px 25px;
  padding-left: 30px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  text-decoration: none;
  color: #3cff00;
  margin-left: 1em;
}

#offline address {
  font-style: normal;
  margin: 0 0 1.25em 1em;
}

.telephone {
  display: block;
  text-decoration: none;
  color: #3cff00;
  margin: 0 0 0.75em 1em;
}

.social2 {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

/* 
@media (max-width: 736px) {
  #secondaryContacts .secondaryHeading {
    display: none;
  }

  .social2 {
    display: block;
  }

  .telephone,
  #offline address,
  .linkedin,
  .twitter {
    margin-left: 0;
  }
}

@media (max-width: 665px) {
  #mainContent,
  #secondaryContacts {
    float: none;
  }

  #secondaryContacts .secondaryHeading {
    display: block;
  }

  #secondaryContacts {
    margin: 0.5em 1.5em 1.5em 1.5em;
  }

  .social2 {
    display: none;
  }

  .telephone,
  #offline address,
  .linkedin,
  .twitter {
    margin-left: 1em;
  }
}

@media (max-width: 367px) {
  #secondaryContacts .secondaryHeading {
    display: none;
  }

  .social2 {
    display: block;
  }

  .telephone,
  #offline address,
  .linkedin,
  .twitter {
    margin-left: 0;
  }
}

*/
